<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <title>Base Page</title>
    </head>
    <body>
        <section>
        <h1>This is New About Section</h1>

        <p>dew fw efew ewf ewf ewfew fInitializing Spring DispatcherServlet 'dispatcherServlet'
            2024-11-15T11:54:02.860+05:30  INFO 12980 --- [thymeleafpractical] [nio-8080-exec-1] o.s.web.servlet.Dispa
            tcherServlet        : Initializing Servlet 'dispatcherServlet'
            2024-11-15T11:54:02.865+05:30  INFO 12980 --- [thymeleafpractical] [nio-8080-exec-1] o.s.web.servlet.Dispa
            tcherServlet        : Completed initialization in 3 ms
            Initializing Spring DispatcherServlet 'dispatcherServlet'
            2024-11-15T11:54:02.860+05:30  INFO 12980 --- [thymeleafpractical] [nio-8080-exec-1] o.s.web.servlet.Dispa
            tcherServlet        : Initializing Servlet 'dispatcherServlet'
            2024-11-15T11:54:02.865+05:30  INFO 12980 --- [thymeleafpractical] [nio-8080-exec-1] o.s.web.servlet.Dispa
            tcherServlet        : Completed initialization in 3 ms
            PS C:\Users\Asus\Desktop\springboot></p>

        </section>
    </body>
</html>