<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Conditional Statement in Thymeleaf</title>
    </head>
    <body>
        <h1>Conditional Statement in Thymeleaf</h1>
        <h1>Use is <span th:style="${isActive} ? 'color:green':'color:red'" th:text="${isActive} ? 'ACTIVE':'NOT ACTIVE'"></span></h1>
        <h1 th:if="${gender}=='M'">Male</h1>
        <h1 th:unless="${gender}=='M'">Fe-Male</h1>

        <div th:switch="${#lists.size(myList)}">
            <h1 th:case="'0'">List Contain Zero Element</h1>
            <h1 th:case="'1'">List Contain One Element</h1>
            <h1 th:case="'*'">List Contain More Than One Element</h1>
        </div>
    </body>
</html>