<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <title>Base Page</title>
    </head>
    <body>
        <section>
        <h1>This is New Contact Section</h1>

        <p> 768431569843
            654643648436
            868431569843
            565464364843
            684315698436
            965464364843
            168431569843
            365464364843
            268431569843
            654643648438 
        </p>

        </section>
    </body>
</html>