<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Footer Template</title>
    </head>
    <body>
        <footer id="fragmentTag" th:fragment="footer1(title,subtitle)">
            <div class="container">
                <h1 th:text="${title}"></h1>
                <h1 th:text="${subtitle}"></h1>
                <h1>About Learn Code With Siddharth Kardile</h1>
                <h2>Provide Good Content About Programming</h2>
                <h1>Feel Free To Contact and Work With Me</h1>
                <p>dew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hterdew fweg wr gwrger ghet hetr h trh et hter h terhrt rem3 </p>
            </div>
        </footer>
    </body>
</html>