<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Example</title>

        <link rel="stylesheet" th:href="@{/css/myStyle.css}" />
    </head>
    <body>
        <div class="container">
        <img th:src="@{images/image.jpg}" alt=""/>
            <h1>Adding Css , Javascript and Image in thymeleaf</h1>
            <p>fwe gewgwe gew gvwe gveq gFwhf MWh PpRW R Tox yb
                Wtn kWeV 0jcT1r8D4 gIGAKk j75S3kGV 3kXzM67fR rZZQLHR</p>  
        </div> 

        <script th:src="@{/js/myJs.js}"></script>

    </body>
</html>