<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <title>User Dashboard</title>
    </head>
    <body>
        <section>
            <h1>Welcome You are The normal User</h1>
            <h1>This is Your Private Page</h1>
            <h1>User name: <span th:text="${user?.name}"></span></h1>
            <h1>User email: <span th:text="${user.email}"></span></h1>
        </section>
    </body>
</html>