<!DOCTYPE html>
<html lang="en" xmlns:th:"http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <title>This is About Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section>
            <h1>This is About page</h1>
            <h2>Here We are Gping to Write About Smart Contact Manager</h2>
        </section>
    </body>
</html>