<!DOCTYPE html>
<html lang="en" xmlns:th:"http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <title>This is Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section class="banner d-flex justify-content-center align-items-center ">
            <div class="text-center">
                <h1 class="font-weight-bold">Smart Contact Manager</h1>
                <p>Start Collecting Your Contacts in very smarter way. we Provide
                    Very Efficent And smarter Way of handling Contacts.
                </p>
                <button class="btn bg-primary btn-lg text-white">Get Start</button>
            </div>
        </section>
    </body>
</html>