<!DOCTYPE html>
<html lang="en" xmlns:th:"http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <title>This is Signup Page</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <section class="secn">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 offset-md-2">
                       <div class="my-card mt-1 ">  
                        
                        <h1 class="text-center">Register Here !!</h1>
                        <br>
                            <form action="" th:action="@{/do_register}" method="post" th:object="${user}">

                                <!-- Name field -->
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Your Name</label>
                                    <input  
                                    name="name"
                                    type="text"
                                    class="form-control" 
                                    id="exampleFormControlInput1"
                                    aria-describedby="emailHelp" 
                                    placeholder="Enter Your Name Here" 
                                    required 
                                    th:value="${user.name}"
                                    />
                                </div>
                                
                                <!-- Email field -->
                                <div class="form-group">
                                    <label for="exampleFormControlInput2">Your Email</label>
                                    <input  
                                    name="email"
                                    type="email"
                                    class="form-control" 
                                    id="exampleFormControlInput2"
                                    aria-describedby="emailHelp" 
                                    placeholder="Enter Your Email Here" 
                                    required 
                                    th:value="${user.email}"
                                    />
                                </div>
                                
                                <!-- Password field -->
                                <div class="form-group">
                                    <label for="exampleFormControlInput3">Your Password</label>
                                    <input  
                                    name="password"
                                    type="Password"
                                    class="form-control" 
                                    id="exampleFormControlInput3"
                                    aria-describedby="emailHelp" 
                                    placeholder="Enter Your Password Here" 
                                    required 
                                    th:value="${user.password}"
                                    />
                                </div>
                                <br>

                                <!-- user about field -->
                                <div class="form-group" >
                                    <textarea 
                                    placeholder="Enter something about yourself" 
                                    rows="10" 
                                    th:value="${user.name}"
                                    class="form-control" ></textarea>
                                </div>
                                <!-- Terms and condition agreement-->
                                <div class="form-group from-check">
                                    <input type="checkbox"
                                    name="agreement"
                                    class="form-check-input"
                                    id="agreement" />

                                    <label for="agreement">Accept Terms and Conditions</label>
                                </div>
                                <br>
                                <!-- user submit reset buttons -->
                                <div class="container1 text-center"> 
                                    <button type="submit" class="btn btn-primary text-white">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-warning text-white">
                                        Reset
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>