<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
    <head>
        <meta charset="utf-8">
        <title>This is Signup Page</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <section class="secn">
            <div class="video-container">
                <video autoplay muted loop playsinline>
                  <source src="../image/vid.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            <div class="container"> 
                <div class="row">
                    <div class="hello col-md-9 offset-md-2">
                       <div class="my-card mt-1 ">                                             
                        <h1 class="text-center">Register Here !!</h1>
                        <br>
                            <form novalidate action="#" th:action="@{/do_register}" method="post" th:object="${user}">

                                <!-- Name field -->
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Your Name</label>
                                    <input  
                                    name="name"
                                    type="text"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                                    id="exampleFormControlInput1"
                                    placeholder="Enter Your Name Here" 
                                    th:value="${user.name}"
                                    />
                                    <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${errors}">
                                    </div>
                                </div>
                                
                                <!-- Email field -->
                                <div class="form-group">
                                    <label for="exampleFormControlInput2">Your Email</label>
                                    <input  
                                    name="email"
                                    type="email"
                                    class="form-control" 
                                    id="exampleFormControlInput2"
                                    aria-describedby="emailHelp" 
                                    placeholder="Enter Your Email Here" 
                                    required 
                                    th:value="${user.email}"
                                    />
                                </div>
                                
                                <!-- Password field -->
                                <div class="form-group">
                                    <label for="exampleFormControlInput3">Your Password</label>
                                    <input  
                                    name="password"
                                    type="Password"
                                    class="form-control" 
                                    id="exampleFormControlInput3"
                                    aria-describedby="emailHelp" 
                                    placeholder="Enter Your Password Here" 
                                    required 
                                    th:value="${user.password}"
                                    />
                                </div>

                            <!-- user about field -->
                            <div class="form-group">
                                <textarea 
                                    placeholder="Enter something about yourself" 
                                    rows="10" 
                                    th:text="*{about}" 
                                    name="about"
                                    class="form-control">
                                </textarea>
                            </div>

                                <!-- Terms and condition agreement-->
                                <div class="form-group from-check">
                                    <input type="checkbox"
                                    name="agreement"
                                    class="form-check-input"
                                    id="agreement" required />

                                    <label for="agreement">Accept Terms and Conditions</label>
                                </div>
                                <!-- user submit reset buttons -->
                                <div class="container1 text-center"> 
                                    <button type="submit" class="btn btn-primary text-white">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-warning text-white">
                                        Reset
                                    </button>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>


